form {
  font-family: sans-serif;
  font-size: 10px;
  padding: 50px;
  background: #9bccff;
  max-width: 400px;
  margin: 100px auto 0;
}

div {
  margin: 0 0 3em 0;
  position: relative;
}

label {
  font-size: 15px;
}

span {
  display: block;
  font-size: 15px;
  position: absolute;
  background: #2d2c87;
  color: #fff;
  padding: 10px;
  width: 180px;
  left: 105%;
  top: 10px;
}

input {
  display: block;
  width: 100%;
}

input #submit {
  background: #2f558e;
  color: #dbdae5;
  font-size: 2em;
  height: 40px;
}
